<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intheforest.mapper.BoardMapper">

    <select id="boardList" resultType="board">
        select board_no,
        board_category,
        book_no,
        reply_no,
        secret_flag,
        title,
        content,
        board_pw,
        notice_flag,
        board_file,
        writer,
        view_cnt,
        write_date
        from board
        order by
        write_date desc
    </select>

    <select id="boardListByPage" resultType="board"
            parameterType="search">
        select b.*
        from (select rownum rn, a.*
        from (select *
        from board
        <where>
            <choose>
                <when test="category == 'qna' || category == 'reply'">
                    lower(board_category) in ('qna', 'reply')
                </when>
                <when test="!(category == 'qna' || category == 'reply')">
                    lower(board_category) = lower(#{category})
                </when>
                <when test="searchCondition == 'title'">
                    <!-- ||: 문자열을 연결하는 연산자 -->
                    title like '%' || #{keyword} || '%'
                </when>
                <when test="searchCondition == 'writer'">
                    writer like '%' || #{keyword} || '%'
                </when>
                <when test="searchCondition == 'titleAndWriter'">
                    (title like '%' || #{keyword} || '%')
                    or (writer like
                    '%' || #{keyword} || '%')
                </when>
            </choose>
        </where>
        order by
        notice_flag desc,
        <!--       원본 글은 자신의 board_no로, 답글은 원본 글의 board_no로 정렬-->
        COALESCE(reply_no, board_no),
        <!--        원본 글은 write_date DESC로 정렬-->
        CASE WHEN reply_no IS NULL THEN write_date END DESC,
        <!--        답글은 최신순으로 원본 글 아래에 위치-->
        CASE WHEN reply_no IS NOT NULL THEN write_date END
        ) a
        ) b
        where b.rn > (#{currentPage} - 1) * 10
        <!-- 꺽쇠를 연산자로 쓰기 위해 태그가 아니고 -->
        <![CDATA[
				and b.rn <= (#{currentPage} * 10)
				]]>
    </select>

    <select id="boardTotalCount" resultType="int"
            parameterType="search">
        select count(1)
        from board
        <where>
            <choose>
                <when test="category == 'qna' || category == 'reply'">
                    lower(board_category) in ('qna', 'reply')
                </when>
                <when test="!(category == 'qna' || category == 'reply')">
                    lower(board_category) = lower(#{category})
                </when>
                <when test="searchCondition == 'title'">
                    title like '%' || #{keyword} || '%'
                </when>
                <when test="searchCondition == 'writer'">
                    writer like '%' || #{keyword} || '%'
                </when>
                <when test="searchCondition == 'titleAndWriter'">
                    (title like '%' || #{keyword} || '%')
                    or (writer like
                    '%' || #{keyword} || '%')
                </when>
            </choose>
        </where>
    </select>

    <insert id="insertBoard" parameterType="board" useGeneratedKeys="true" keyProperty="boardNo">
        <selectKey keyProperty="boardNo" resultType="int" order="BEFORE">
            SELECT board_seq.nextval FROM dual
        </selectKey>
        insert into
        board(board_no, board_category, book_no, secret_flag, title, content, board_pw, notice_flag, writer, board_file)
        values(#{boardNo},
        #{boardCategory}, #{bookNo}, #{secretFlag}, #{title}, #{content}, #{boardPw}, #{noticeFlag}, #{writer},
        #{boardFile})
    </insert>

    <update id="updateBoard" parameterType="board">
        update board
        set write_date = sysdate
        <!--파라미터로 받은 보드의 타이틀이 널이 아니면 기존 title을 넣겠다. 널이면 업데이트 치겠다 -->
        <if test="title != null">
            ,title = #{title}
        </if>
        <if test="content != null">
            ,content = #{content}
        </if>
        <if test="secretFlag != null">
            ,secret_flag = #{secretFlag}
        </if>
        <if test="boardFile != null">
            ,board_file = #{boardFile}
        </if>
        where board_no = #{boardNo}

    </update>

    <update id="updateReplyNo" parameterType="board">
        update board
        set reply_no = #{replyNo}
        where board_no = #{boardNo}

    </update>

    <update id="updateCount" parameterType="int">
        update board
        set
        view_cnt = view_cnt + 1
        where board_no = #{boardNo}
    </update>

    <delete id="deleteBoard" parameterType="int">
        delete from board
        where board_no = #{boardNo}
    </delete>

    <select id="selectBoard" parameterType="int">
        select *
        from board
        where
        board_no = #{boardNo}
    </select>

    <select id="selectPrevBoard" parameterType="board">
        select *
        from board
        where write_date = (
        select max(write_date)
        from board
        <![CDATA[
        where write_date < TO_DATE(#{writeDate}, 'YYYY-MM-DD HH24:MI:SS')
        )
        and write_date < TO_DATE(#{writeDate}, 'YYYY-MM-DD HH24:MI:SS')
        ]]>
        <choose>
            <when test="boardCategory == 'qna' || boardCategory == 'reply'">
                and lower(board_category) in ('qna', 'reply')
            </when>
            <when test="!(boardCategory == 'qna' || boardCategory == 'reply')">
                and lower(board_category) = lower(#{boardCategory})
            </when>
        </choose>

        order by write_date desc
    </select>


    <select id="selectNextBoard" parameterType="board">
        select *
        from board
        where write_date = (
        select min(write_date)
        from board
        <![CDATA[
        where write_date > TO_DATE(#{writeDate}, 'YYYY-MM-DD HH24:MI:SS')
        )
        and write_date > TO_DATE(#{writeDate}, 'YYYY-MM-DD HH24:MI:SS')
        ]]>
        <choose>
            <when test="boardCategory == 'qna' || boardCategory == 'reply'">
                and lower(board_category) in ('qna', 'reply')
            </when>
            <when test="!(boardCategory == 'qna' || boardCategory == 'reply')">
                and lower(board_category) = lower(#{boardCategory})
            </when>
        </choose>

        order by write_date desc
    </select>


    <select id="getBookNoByMemberId" parameterType="string">
        select book_no
        from site_book
        where member_id = #{memberId}
    </select>

    <select id="reviewOnBook" parameterType="int">
        select b.*
        from board b join site_book sb
        on b.book_no = sb.book_no
        where b.book_no = #{bookNo}
        and b.board_category = 'review'
    </select>
</mapper>