<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intheforest.mapper.BookMapper">

	<!-- select b.*, o.option_no option_no, o.site_no site_no
		from   site_book b join site_book_option o
                             on b.book_no = o.book_no
		where  b.book_no = 2001; 쓰면 좋을 듯 -->
	
	<!-- 예약정보 조회 -->
	<select id="selectBook" resultType="book" parameterType="int">
		select *
		from   site_book
		where  book_no = #{bookNo}
	</select>
	
	<!-- 예약에 적용된 옵션 목록 -->
	<select id="selectBookOption" resultType="string" parameterType="int">
	  select bo.option_no
    from   site_book_option bo join site_option o
                               on   bo.option_no = o.option_no
    where  book_no = #{bookNo}
	</select>
	
	
	<!-- 숙소 목록 -->
	<select id="siteList" resultType="book">
	  select *
	    from site 
	    where use_flag='y'
	    order by site_name
	</select>
	
	<!-- 숙소 목록 -->
	<select id="siteListAdmin" resultType="book">
	  select *
	    from site 
	    order by site_name
	</select>
	
	<!-- 마지막으로 등록된 예약번호 조회 -->
	<select id="bookLast" resultType="int">
	  select book_no
	    from site_book
	    <![CDATA[
	    where ROWNUM<=1
	    ]]>
	    order by book_no desc
	</select>

	<!-- 숙소 옵션 목록 -->
	<select id="optionList" resultType="book">
	  select *
	    from site_option 
	</select>
	
	<!-- 숙소 옵션 가격 수정 -->
	<update id="modifyOptionPrice" parameterType="int">
		update site_option
		set    option_price = #{newPrice}
		where  option_no = #{optionNo}
	</update>
	
	<!-- 숙소정보 조회 -->
	<select id="selectSite" parameterType="string">
    select *
    from site 
    where site_no=#{siteNo}  	
  </select>
  
  <!-- 기준날짜에 해당 숙소에 대한 예약이 있는지 조회 -->
  <select id="selectSiteDate" resultType="int">
    select count(*) as cnt
    from site_book 
    where site_no=#{siteNo}
    <![CDATA[ 
    and start_date<=#{startDate} 
    and end_date>#{startDate}
    ]]>  	
    and cancel_flag = 0
  </select>
    
    <!-- 예약하려는 기간에 해당 숙소에 대한 예약이 있는지 조회 -->
	<select id="selectSiteTerm" resultType="int">
		select count(*) as cnt
		from site_book
		where site_no=#{siteNo}
		<![CDATA[ 
		and start_date >=#{startDate} and start_date <#{endDate}
		]]> 
		and cancel_flag = 0
	</select>
  
  <!-- 예약 취소 -->
   <update id="cancelBook" parameterType = "int">
    update site_book set cancel_flag=1 where book_no=#{bookNo} 
  </update>
  
  <!-- 예약정보 입력 -->
  <insert id="insertBook" parameterType = "book">
    insert into site_book (book_no,
                        	member_id,
                        	site_no,
                        	mem_cnt,
                        	start_date,
                        	end_date,
                        	car_num,
                        	total_price)
	values  (book_seq.nextval,
        	#{memberId},
        	#{siteNo},
        	#{memCnt},
        	#{startDate},
        	#{endDate},
        	#{carNum},
        	#{totalPrice})
    </insert>
	
	<!-- 예약 확정 시 선택한 옵션목록 추가 -->
    <insert id="insertBookOption" parameterType = "book">
    insert into site_book_option (option_no,
                        	book_no,
                        	member_id,
                        	site_no)
	values (#{optionNo},
        	#{bookNo},
        	#{memberId},
        	#{siteNo})
    </insert>
    
    <!-- 숙소 사용유무 변경 -->
   <update id="siteUse">
    update site set use_flag=#{useFlag} where site_no=#{siteNo} 
  </update>

</mapper>