<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intheforest.mapper.MyBookMapper">

<select id="selectMyPageBookList" parameterType="String" resultType="mybook">
select book_no
       ,site_no
       ,(select site_name
         from site
         where site_no = ( select site_no
                           from site_book
                           where book_no = #{bookNo})
       ) site_name
       ,mem_cnt
       ,start_date
       ,end_date
       ,total_price
       ,create_date
       ,cancel_flag
       ,car_num
       ,member_id
       ,to_char(to_date(substr(start_date,1,10),'YYYY/MM/DD'), 'YYYY-MM-DD') site_date
from site_book
where member_id = ( select member_id
                    from site_book
                    where book_no = #{bookNo})
</select>

</mapper>