<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intheforest.mapper.MyBookMapper">

	<select id="selectMyPageBookList" parameterType="String"
		resultType="mybook">
		select b.book_no
		,b.site_no
		,s.site_name
		,s.category
		,b.mem_cnt
		,to_char(to_date(substr(b.start_date,1,10),'YYYY/MM/DD'),
		'YYYY-MM-DD') start_date
		,to_char(to_date(substr(b.end_date,1,10),'YYYY/MM/DD'), 'YYYY-MM-DD')
		end_date
		,b.total_price
		,b.create_date
		,b.cancel_flag
		,b.car_num
		,b.member_id
		,(to_date(substr(b.end_date,1,10),'YYYY/MM/DD') -
		to_date(substr(b.start_date,1,10),'YYYY/MM/DD')) add_date
		from site_book b join site s
		on b.site_no = s.site_no
		where b.member_id = #{member_id}
	</select>
	<!-- 검색조건 -->
	<select id="listWithPage" resultType="mybook">
		select b.book_no
		       ,b.site_no
		       ,s.site_name
		       ,s.category
		       ,b.mem_cnt
		       ,to_char(to_date(substr(b.start_date,1,10),'YYYY/MM/DD'),
		       'YYYY-MM-DD') start_date
		       ,to_char(to_date(substr(b.end_date,1,10),'YYYY/MM/DD'), 'YYYY-MM-DD')
		       end_date
		       ,b.total_price
		       ,b.create_date
		       ,b.cancel_flag
		       ,b.car_num
		       ,b.member_id
		       ,(to_date(substr(b.end_date,1,10),'YYYY/MM/DD') -
		       to_date(substr(b.start_date,1,10),'YYYY/MM/DD')) add_date
		from (select rownum rn, a.*
		      from (select *
		            from site_book
		            where create_date is not null
		<if test="memberId != null">and member_id = #{memberId}</if>
		<choose>
			<when test="searchCondition == 'bno'.toString()">and book_no like '%'||#{keyword}||'%'</when>
			<when test="searchCondition == 'start'.toString()">and start_date like '%'||#{keyword}||'%'</when>
			<when test="searchCondition == 'bnoStart'.toString()">and ((book_no like '%'||#{keyword}||'%') or 
																	(start_date like '%'||#{keyword}||'%'))</when>
		</choose>
		            order by book_no) a )b join site s
                                            on b.site_no = s.site_no
		where b.rn > (#{currentPage} - 1 ) * 10
		<![CDATA[
		  and b.rn <= (#{currentPage} * 10)
		  ]]>
	</select>

	<!-- 페이징 카운트 -->
	<select id="selectCount" resultType="int">
		select count(1)
		from site_book
		where create_date is not null
		<if test="memberId != null">and member_id = #{memberId}</if>
		<choose>
			<when test="searchCondition == 'bno'.toString()">and book_no like '%'||#{keyword}||'%'</when>
			<when test="searchCondition == 'start'.toString()">and start_date like '%'||#{keyword}||'%'</when>
			<when test="searchCondition == 'bnoStart'.toString()">and (book_no like '%'||#{keyword}||'%') or (start_date
				like '%'||#{keyword}||'%')</when>
		</choose>
	</select>
	
<!-- 뭐하는건지 모르겠음 -->
	<select id="countByWriter" resultType="hashmap">
		select writer as "writer"
		       ,member_name as "member_name"
		       ,count(1) as "count"
		from tbl_board b join tbl_member m
		            on b.writer = m.member_id
		group by writer,member_name
	</select>

</mapper>