#noticeBox {
  display: flex;
  align-items: center;
  border: 3px #ccc;
  margin: 40px;
  gap: 30px;
}
#noticeBox div {
  width: 100px;
  height: 120px;
  background-color: #009367;
  color: white;
  text-align: center;
  padding-top: 45px;
  box-shadow: 5px 10px 5px #ddd;
  font-weight: bold;
}
#noticeBox li a {
  text-decoration: none;
}
#noticeBox li span {
  margin-left: 80px;
  color: #bbb;
}