* {
	word-break: keep-all;
}
.loginTop {
  display: flex;
  justify-content: end;
  gap: 30px;
  height: 35px;
}
.loginTop a {
  margin: auto 10px;
  color: rgb(120, 120, 120);
  text-decoration: none;
  font-size: 1rem;
}
.bg-custom {
  --bs-bg-opacity: 1;
  background: url(../../assets/site/starry_green_background.jpg) no-repeat scroll center;
  background-size: cover;
}
.navbar-brand img {
  display: inline-block;
  height: 40px;
}
.navbar-nav .nav-item {
  margin-left: 20px;
}
.nav-link {
  color: rgb(180, 180, 180);
}
.nav-link:hover, .nav-link:focus {
  color: white;
}
footer {
  background: url(../../assets/site/starry_background.jpg) no-repeat scroll center;
  background-size: cover;
}
footer div {
  display: flex;
  justify-content: center;
  gap: 10%;
}
footer img {
  height: 80px;
  margin-left: 10px;
}  
footer span {
  margin: auto 0;
  margin-right: 10px;
}
.text-mint {
  color: #54ab96;
}
.bg-deepMint {
  background-color: #236354;
}
.page-link.active, .active > .page-link {
    background-color: #91c9ae;
    border-color: #9dc7b2;
}
a {
  text-decoration:none; 
  color:black;
}
.card .card-header {
  background-color: rgb(247, 247, 247) !important;
}
table {
	table-layout: fixed;
  word-wrap: break-word;
}
thead {
	background-color: #d3e8df !important;
}
.w-40 {
	width: 40%
}
.w-15 {
	width: 15%
}
.w-10 {
	width: 10%
}