.board {
    width: 1320px;
    margin: 40px auto;
    > h3 {
        text-align: center;
        margin-bottom: 8px;
    }

    > p {
        text-align: center;
        font-size: 18px;
        color: var(--bs-gray-700);
        margin-bottom: 60px;
    }
    .top {
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 0 20px;
        > span {
            display: block;
            width: 60%;
            &:first-child {
                width: 60%;
            }

            &:nth-child(2) {
                width: 20%;
            }

            &:last-child {
                width: 20%;
            }
        }
    }
    .content {
        min-height: 400px;
    }

    #replyBox {
        &.hide {
            display: none;
        }
    }

    .btnContainer {
        display: flex;
        justify-content: space-between;
        .btnBox1 {
            display: flex;
        }
        .hide {
            display: none;
        }
    }
}

