.boardList {
    min-height: 700px;
    width: 1320px;
    margin: 40px auto;

    > h3 {
        text-align: center;
        margin-bottom: 8px;
    }

    > p {
        text-align: center;
        font-size: 18px;
        color: var(--bs-gray-700);
        margin-bottom: 60px;
    }

    .table {
        th,
        td {
            text-align: center;
        }
        .rownum {
            width: 80px;
        }
        .title {
            text-align: left;
            cursor: pointer;
        }

        .redLabel {
            background-color: var(--bs-green);
            padding: 2px 4px;
            border-radius: 4px;
            color: #ffffff;
        }

        .reply {
            margin-left: 8px;
            font-weight: bold;
            font-size: 14px;
        }
    }

    .bottom {
        position: relative;
        margin-right: 0 !important;

        display: flex;
        justify-content: center;
        align-content: center;
    }

    .write {
        position: absolute;
        right: 0;
        margin: 0 !important;

        > a {

            color: #ffffff;
            text-decoration: none;
        }

    }

    .modal-body {
        .hide {
            display: none;
        }

        .show {
            display: block;
        }
    }
}

